<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
   <div class="clgimg">
      <img src="/images/VCET.png" class="logo">
    </div>
   
    <div class="container-nav">
    <nav>
      <div class="bar"> 
        <ul class="nav">
        <li><a href="/"><bold>Home</bold></a> </li>
        <li><a href="#"><bold>About us</bold></a> </li>
        <li><a href="#"><bold>Admission</bold></a> </li>
        <li><a href="#"><bold>Gallery</bold></a> </li>
        <li><a href="#"><bold>Events</bold></a> </li>
        <li><a href="/admin"><bold>Admin page</bold></a></li>
        <li><a href="/staff"><bold>Staff login</bold></a></li>
        <li><a href="/student"><bold>Student login</bold></a></li>
        </ul>
     </div> 
     </nav>
     </div>
   <%- body %>
</body>
</html>