<%- layout("layouts/navbar.ejs") %>
<!DOCTYPE html>
<html>
<head>
   <title>Home</title>
   <link rel="stylesheet" href="/css/home.css">
</head>

<body>


<div class="slider">
   <img src="images/clg.png">
</div>



<div class="container">
<div class="main-section">
   <div class="event">
      <h2 class="heading">Campus News</h2>
      <div>
         <marquee direction="up" scrollamount="7" style="height:400px;">
            <ul>
               <li><img src="images/news.png">NBA Accredited Institution.</li>
               <li><img src="images/news.png"> The college has been accredited with  'A' grade by NAAC.</li>
               <li><img src="images/news.png">Our College has been ranked 15th in TN and 35th in India among private Engineering Colleges for 2022- 2023 by Education World.</li>
               <li><img src="images/news.png"> Our College is categorized as 'Band Performer' institution by Atal Ranking of Institutions on Innovation Achievement (ARIIA) 2021.</li>
            </ul>
         </marquee>
      </div>
   </div>




   <div class="event">
      <h2 class="heading">Events</h2>
      <div>
         <marquee direction="up" scrollamount="7" style="height:400px;">
            <ul>
               <li><img src="images/events.png"> Department of Information Technology organizes a "Webinar on Web Development Framework" on 13.10.2023.</li>
               <li><img src="images/events.png"> VCET Autonomous-Semester II and IV University Results Published.</li>
               <li><img src="images/events.png"> Department of Computer Science organizes a and Engineering "Seminar Business ideas for on first-time entrepreneurs" on 11.10.2023.</li>
               <li><img src="images/events.png"> Department of Mechanical Engineering organizes a "SAE Guest Lecture" on 11.10.2023.</li>
               <li><img src="images/events.png"> Department of Electronics and Communication Engineering organizes a Short Film Contest on theme "Usage of Social Media by Youngsters in a Constructive Way" on 13.10.2023.</li>
            </ul>
         </marquee>
      </div>
   </div>



   <div class="event">
      <h2 class="heading">Vision and Mission</h2>
      <div>
         <marquee direction="up" scrollamount="7" style="height:400px;">
            <ul>
               <li style="list-style-type: circle;">VISION: To emerge and sustain as a center of excellence for technical and managerial education upholding social values.</li>
               <li style="list-style-type: circle;">MISSION: Our aspirants are:</li>
               <li style="list-style-type: circle;">Imparted with comprehensive, innovative and value - based education.</li>
               <li style="list-style-type: circle;">Exposed to technical, managerial and soft skill resources with emphasis on research and professionalism.</li>
               <li style="list-style-type: circle;">Inculcated with the need for a disciplined, happy, married and peaceful life.</li>
            </ul>
         </marquee>
      </div>
   </div>
</div>




<div class="main-section about-us">
   <img src="images/Chairmann.png" height="367px">
   <div>
      <h2 class="heading"><bold>About Our Chairman</bold></h2>
      <p>Shri.M.V.Muthuramalingam, the 72-years old first generation entrepreneur and force majeure of the Velammal Educational Institutions has mastered this art. There is a lot one can take from his life to get Inspired. A latter-day construction-site supervisor who failed in his school-leaving exam is today an education baron and controls the destiny of 140,000 students.
         Shri.M.V.Muthuramalingam hails from Ladanendal, a small village in Sivaganga district. He completed his engineering from Thiagarajar College of Engineering, Madurai. Brought up by a single mother he faced hardships as he grew. These hardships always sharpened his thought process. And he proudly claims that what he is today is because of the life lessons that he learned when he was young. It triggered the spark in him to achieve greater heights.
         </p>
      <img src="images/sign.png">
   </div>
</div>




<div class="main-section">
   <h2 class="heading">Placement</h2>
   <marquee class="placement" direction="left" scrollamount="10">
      <img src="images/zoho.png"> 
      <img src="images/tcs.png"> 
      <img src="images/kaar.png"> 
      <img src="images/amazon.png"> 
      <img src="images/presidio.png"> 
      <img src="images/sify.png"> 
      <img src="images/cog.png"> 
      <img src="images/accenture.png"> 
   </marquee>
</div>
</div>




<div class="footer">
   <div class="contain">
      <div class="footer-sect">
         <h2>Best Institute For Education</h2>
         <p> Velammal College of Engineering and Technology in Madurai has earned its reputation as an educational powerhouse, preparing its students 
            to meet the challenges of the modern world and contribute positively to society.</p>
         <img src="images/icon-fb.png" width="25px;" height="23px;"> 
         <img src="images/icon-tw.png" width="25px;" height="23px;"> 
         <img src="images/icon-in.png" width="25px;" height="23px;"> 
         <img src="images/icon-li.png" width="25px;" height="23px;"> 
      </div>
      <div class="footer-sect">
         <h2>Quick Links</h2>
         <ul class="footer-menu">
            <li><a href="#"> > Home</a></li>
            <li><a href="#"> > About us</a></li>
            <li><a href="#"> > Admission</a></li>
            <li><a href="#"> > Gallery</a></li>
            <li><a href="#"> > Events</a></li>
            <li><a href="#"> > Contact Us</a></li>
         </ul>
      </div>
      <div class="footer-sect">
         <h2>Contact Info</h2>
         <ul class="footer-contact">
            <li><b>Email :</b> principal@vcet.ac.in </li>
            <li><b>Call :</b> +91 -9994994991 </li>
            <li><b>Website :</b> http://www.vcet.ac.in </li>
         </ul>
      </div>
   </div>
</div>
</body>
</html>

